
:root {
    --cl-primary:#8859b7;
    --cl-secondary:#c8b6db;
    --cl-tieriary: #7d7784;
    --cl-gray:#3d3b3f;
    --cl-font-size: 3em;
    --cl-font-size-two: 1em;
}

body {
   background-color: var(--cl-secondary);
}

i {
    color: black;
}

h1 {
    font-family: 'Noto Sans JP',
    sans-serif;
    font-size: var(--cl-font-size);
    display: block;
    float: left;
    color: black;
}


/* .carousel-item {
    height: 700px;
} */